/*Google Font import*/
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
body {
  overflow-x: hidden;
  font-family: "Lato", sans-serif;
  color: #ffffff;
}

/*Navigation styles*/
.navbar {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.9rem;
  letter-spacing: 0.1rem;
  background-color: rgba(52, 58, 64, 0.6) !important;
}

.navbar-brand img {
  height: 4rem;
}

.navbar-nav li {
  padding-right: 0.7 rem;
}

.navbar-dark .navbar-nav .nav-link {
  color: #ffffff !important;
  padding-top: 0.8rem;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover {
  color: #00faa0 !important;
}

/*Landing Page styles*/
.home-inner {
  background-image: url(../elements/landing.jpg);
}

.caption {
  width: 100%;
  max-width: 100%;
  position: absolute;
  top: 38%;
  z-index: 1;
  color: white;
  background-color: rgba(5, 168, 160, 0.37);
  padding: 1rem;
}

.caption h1 {
  font: 3.8rem;
  font-weight: 700;
  letter-spacing: 0.3rem;
  text-shadow: 0.1rem 0.1rem 0.8rem black;
  padding-bottom: 1rem;
}

.caption h3 {
  font-size: 2rem;
  text-shadow: 0.5rem 0.1rem 0.8rem black;
  padding-bottom: 1.6rem;
}

.btn-lg {
  border-width: medium;
  border-radius: 0 !important;
  padding: 36rem 1.3rem;
  font-size: 1.1rem;
  font-weight: 700;
}

/*objectives section*/
.narrow {
  width: 75%;
  margin: 1.5rem auto;
  padding-top: 2rem;
}

.narrow h1 {
  font-size: 3rem;
  padding-top: 3rem;
  margin: 3rem;
}

.narrow ul li {
  list-style-type: none;
}

/*features section*/
.jumbotron {
  margin-bottom: 0;
  padding: 2rem 0 3.5rem;
  border-radius: 0;
}

h3.heading {
  font-size: 1.9rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 1.9rem;
}

.heading-underline {
  width: 5rem;
  height: 0.2rem;
  background-color: #00faa0;
  margin: 0 auto 2rem;
}

.features h3 {
  font-size: 1.3rem;
  text-transform: uppercase;
  padding-bottom: 0.4rem;
}

.features p {
  font-size: 1.1rem;
}

/*resources section*/
.fixed {
  background-image: url(../elements/goal.jpg);
  z-index: -1;
}

.dark {
  background-color: rgba(0, 0, 0, 0.75);
  padding: 9rem 2rem;
  color: #ffffff;
}

.fixed-background h3 {
  margin-bottom: 2rem;
}

.fixed-background p {
  margin-top: 1.5rem;
}

/*quotes section*/
#quotes h3 {
  padding-top: 2rem;
  margin-top: 2rem;
}

.quotes img {
  width: 100%;
  border-radius: 50%;
}

blockquote {
  color: #00faa0;
  margin: 1rem;
}

blockquote p {
  color: black;
}

cite {
  color: black;
}

.quotes-hr {
  border-top: 0.05rem solid #00faa0;
}

.btn-secondary {
  border-width: medium !important;
  border-radius: 0 !important;
  font-size: 1.2rem;
  padding: 0.5rem 1.2rem;
  margin: 1rem;
  color: #000000 !important;
  background-color: #ffffff !important;
  border-color: #00faa0 !important;
}

.btn-secondary:hover {
  background-color: #00faa0 !important;
  border-color: #343a40 !important;
}

/*contact section*/
footer {
  background-color: #343a40;
  color: #ffffff;
  padding: 2rem 0 2rem;
  margin-top: 1rem;
}

footer img {
  height: 3rem;
  margin: 1.5rem 0;
}

footer a {
  color: #ffffff;
  margin: 1.2rem 0.5rem 0 0;
  text-decoration: none;
}

footer a:hover {
  color: #00faa0;
  text-decoration: none;
}

hr.socket {
  width: 100%;
  border-top: 0.2rem solid #00faa0;
  margin-top: 3rem;
}

/*media query*/
@media (max-width: 767px) {
  .caption h1 {
    font-size: 2.3rem;
    letter-spacing: 0.15rem;
    padding-bottom: 0.5rem;
  }
  .caption h3 {
    font-size: 1.2rem;
    padding-bottom: 1.2rem;
  }
  .btn-lg {
    padding: 0.5rem 1rem;
    font-size: 1rem;
  }
  .narrow h1 {
    font-size: 1.5rem;
    padding-top: 3rem;
  }
  .quotes img {
    max-width: 50%;
    display: block;
    margin: 0 auto;
  }
}

/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/
/*# sourceMappingURL=styles.css.map */